.card{
    top: 10dvh;
    right:auto;
    left: 10%;
    animation: entrada ease 1s;
    opacity: 1;
}
@keyframes entrada{
    from{
        top:0;
        opacity: 0;
    }
    to{
        top: 10dvh;
        opacity: 1;
    }
}
@media screen and (min-width:360px){
    .card{
        height:15dvh !important;
    }
}