.link{
    text-decoration: none;
}
.texto{
    opacity:0;
}
.link:hover .texto{
    opacity:1;
    animation:animaText ease 1s alternate;
}
span:hover{
    cursor:pointer;
}
@keyframes animaText{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}